.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
p{
    color: hsl(220, 15%, 55%);
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
h3{
    color: hsl(218, 44%, 22%);
    padding: 0 30px 0;
}
p{
    color: hsl(220, 15%, 55%);
    padding: 0 30px 0;
    font-size: 13px;
}
.main{
    margin-top: 100px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    width: 20%;
    position: absolute;
    left: 550px;
    border-radius: 20px;
}
.imgclass{
    
    width: 90%;
    padding: 16px 16px 0 16px;
    border-radius: 25px;
}
